#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#form{
  display: flex;
  gap: 100px;
}

.top{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

#sound{
  background-color: #46454500;
}

#sound img{
  max-width: 20px;
  height: 10%;
}